include *.txt
include *.md
include *.pkl
recursive-include ./regresion_model/*

include regresion_model/datasets/train.csv
include regresion_model/datasets/test.csv
include regresion_model/trained_models/*.pkl
include regresion_model/VERSION
include regresion_model/config.yml

include ./requirements/requirements.txt
include ./requirements/test_requirements.txt
exclude *.log
exclude *.cfg

recursive-exclude * __pycache__
recursive-exclude * *.py[co]